body {
    font-family: Calibri, sans-serif;
    background-color: #121212;
    color: white;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 40px;
    /* border: 0.4px solid;
    border-color: rgb(255, 0, 0); */

    
    }
/* Функция менят шрифт на всей странице  */

/* # Навигационная Панель */


.nav-con{
    display: flex;
    border-bottom: #4d4d4d solid;
    align-items: center;
    justify-content: space-between;
}

.nav-pan{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-pan>li{
    display: inline;
    padding: 15px;
    
}
.nav-pan>li>a{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 5%;

    text-decoration: none;
    color: #ffffff; 
    /* color: hotpink; */
}
.nav-pan a:hover {
    background-color: rgb(83, 83, 83);
}


/* # Logo */

.nav-icon{
    list-style-type: none;
    
}
.nav-icon a img{
    width: 100px;
}
.nav-icon a:hover{
    background-color: none;
}

/* H1  */


h1{
    font-size: 60px;
    text-align: center;
    
}

/* Go app button*/

.go-app{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    
}
.go-app a{
    justify-content: space-around;
    display: block;
    text-align: center;
    text-decoration: none;

    background-color: #ff9c1b ;
    color: #ffffff;

    padding: 10px;
    border-radius: 5%;

    size: 200px;
}

/* Showoff */
.showoff{
    border: #ffffff solid;
    height: 400px;
}